In [ ]:
# Import dependencies needed for the project
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

### Store CSV into DataFrame

In [2]:
# Read csv from given route
e_r_data_df = pd.read_csv("Resources/exchange_rate.csv")

# Show dataframe data
e_r_data_df.head()

        Fecha Determinación Publicación\nDOF  Para solventar\nobligaciones
0         NaN           NaN              NaN                           NaN
1  02/01/2006       10.6253          10.6344                       10.7109
2  03/01/2006       10.6455          10.6253                       10.6344
3  04/01/2006       10.5815          10.6455                       10.6253
4  05/01/2006       10.5907          10.5815                       10.6455

In [3]:
# Transform date with format Y/M/D to Y-M-D 
e_r_data_df["Fecha"] = pd.to_datetime(e_r_data_df.Fecha)

# Clean column without NA values
e_r_data_df = e_r_data_df.dropna(how="any")

e_r_data_df.dtypes
#depending on Python Version the output for column #4 is different for the next code step

Fecha                           datetime64[ns]
Determinación                           object
Publicación\nDOF                        object
Para solventar\nobligaciones           float64
dtype: object

In [4]:
#Code lines thar run in Python v.3.6.8:
#e_r_data_df = e_r_data_df[["Fecha", "Para solventar\r\nobligaciones"]]
#e_r_data_df = e_r_data_df.rename(columns={'Fecha': 'date', 'Para solventar obligaciones': 'exchange_rate'})
#Code lines that run in Python v3.7.3
e_r_data_df = e_r_data_df[["Fecha", "Para solventar\nobligaciones"]]
e_r_data_df = e_r_data_df.rename(columns={'Fecha': 'date', 'Para solventar\nobligaciones': 'exchange_rate'})
e_r_data_df = e_r_data_df[["date", "exchange_rate"]]
e_r_data_df.head()

        date  exchange_rate
1 2006-02-01        10.7109
2 2006-03-01        10.6344
3 2006-04-01        10.6253
4 2006-05-01        10.6455
5 2006-06-01        10.5815

### Store CSV into DataFrame

In [5]:
#read CSV
csv_file = "./Resources/trump_vs_mex.csv"

In [6]:
#Create dataframe and display
tweets = pd.read_csv(csv_file, encoding = "ISO-8859-1")
tweets.head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for iPhone,RT @VP: Earlier this year President @realDonal...,07/12/2019 22:14,11433.0,0.0,True,1.149800e+18
1,Twitter for iPhone,....companies to come to the USA and to get co...,07/12/2019 12:48,9842.0,49450.0,False,1.149660e+18
2,Twitter for iPhone,.....if Mexico produces (which I think they wi...,07/12/2019 12:48,10001.0,50049.0,False,1.149660e+18
3,Twitter for iPhone,RT @PAChamber: Trade with Canada and Mexico su...,07/12/2019 03:26,4308.0,0.0,True,1.149520e+18
4,Twitter for iPhone,Mexico is doing great at the Border but China ...,07/11/2019 14:04,11612.0,48964.0,False,1.149320e+18

In [7]:
#Clean data
tweets_clean = tweets
tweets_clean["created_at"] = pd.to_datetime(tweets_clean["created_at"])
tweets_clean['Date'], tweets_clean['Time'] = tweets_clean['created_at'].dt.normalize(), tweets_clean['created_at'].dt.time
tweets_clean.set_index('Date').head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str,Time
Date,,,,,,,,
2019-07-12,Twitter for iPhone,RT @VP: Earlier this year President @realDonal...,2019-07-12 22:14:00,11433.0,0.0,True,1.149800e+18,22:14:00
2019-07-12,Twitter for iPhone,....companies to come to the USA and to get co...,2019-07-12 12:48:00,9842.0,49450.0,False,1.149660e+18,12:48:00
2019-07-12,Twitter for iPhone,.....if Mexico produces (which I think they wi...,2019-07-12 12:48:00,10001.0,50049.0,False,1.149660e+18,12:48:00
2019-07-12,Twitter for iPhone,RT @PAChamber: Trade with Canada and Mexico su...,2019-07-12 03:26:00,4308.0,0.0,True,1.149520e+18,03:26:00
2019-07-11,Twitter for iPhone,Mexico is doing great at the Border but China ...,2019-07-11 14:04:00,11612.0,48964.0,False,1.149320e+18,14:04:00

In [8]:
#Create new dataframe
new_tweets = tweets_clean[["Date", "id_str", "text","retweet_count"]].set_index('id_str')
#rename columns
new_tweets = new_tweets.rename(columns={"text" :"tweet", 
                           "Date": "date"})
new_tweets.index.names = ['id']
new_tweets = new_tweets.dropna()
#drop retweets
new_tweets =new_tweets[~new_tweets.tweet.str.startswith('RT @')]
#filter by date
#new_tweets.loc['2015-01-01':'2019-08-22']
new_tweets = new_tweets[(new_tweets['date']>dt.date(2015,1,1)) & (new_tweets['date']<dt.date(2019,8,1))]

C:\Users\Gonzalo\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  if sys.path[0] == '':

In [9]:
new_tweets.head()

,date,tweet,retweet_count
id,,,
1.149660e+18,2019-07-12,....companies to come to the USA and to get co...,9842.0
1.149660e+18,2019-07-12,.....if Mexico produces (which I think they wi...,10001.0
1.149320e+18,2019-07-11,Mexico is doing great at the Border but China ...,11612.0
1.146510e+18,2019-07-03,Mexico is doing a far better job than the Demo...,24713.0
1.144370e+18,2019-06-27,Bipartisan Humanitarian Aid Bill for the South...,25170.0

### Union dataframe from Rate Exchange and Trump's Twitter

In [10]:
union_df = pd.merge(new_tweets, e_r_data_df, how='inner', on = 'date').set_index(['date'])
union_df.head()

,tweet,retweet_count,exchange_rate
date,,,
2019-07-03,Mexico is doing a far better job than the Demo...,24713.0,19.2597
2019-06-27,Bipartisan Humanitarian Aid Bill for the South...,25170.0,19.2271
2019-06-23,I want to give the Democrats every last chance...,24276.0,18.9804
2019-06-19,Congratulations to President Lopez Obrador  M...,22674.0,19.1924
2019-06-18,Next week ICE will begin the process of removi...,37105.0,19.1487

### Create database connection

In [13]:
connection_string = "postgres:postgres@localhost:5432/trump_vs_mex_db"
engine = create_engine(f'postgresql://{connection_string}')

In [14]:
# Confirm tables
engine.table_names()

['trump_twitter']

### Load DataFrames into database

In [15]:
union_df.to_sql(name='trump_twitter', con=engine, if_exists='append', index = True)