In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

### Store CSV into DataFrame

In [2]:
e_r_data_df = pd.read_csv("Resources/exchange_rate.csv")
e_r_data_df.dropna()
e_r_data_df.head()

        Fecha Determinación Publicación\r\nDOF  Para solventar\r\nobligaciones
0         NaN           NaN                NaN                             NaN
1  02/01/2006       10.6253            10.6344                         10.7109
2  03/01/2006       10.6455            10.6253                         10.6344
3  04/01/2006       10.5815            10.6455                         10.6253
4  05/01/2006       10.5907            10.5815                         10.6455

In [3]:
e_r_data_df.dropna(how='any')

,Fecha,Determinación,Publicación DOF,Para solventar obligaciones
1,02/01/2006,10.6253,10.6344,10.7109
2,03/01/2006,10.6455,10.6253,10.6344
3,04/01/2006,10.5815,10.6455,10.6253
4,05/01/2006,10.5907,10.5815,10.6455
5,06/01/2006,10.5726,10.5907,10.5815
6,07/01/2006,N/E,N/E,10.5907
7,08/01/2006,N/E,N/E,10.5907
8,09/01/2006,10.5446,10.5726,10.5907
9,10/01/2006,10.5990,10.5446,10.5726
10,11/01/2006,10.6097,10.5990,10.5446
11,12/01/2006,10.5732,10.6097,10.5990
12,13/01/2006,10.5752,10.5732,10.6097
13,14/01/2006,N/E,N/E,10.5732
14,15/01/2006,N/E,N/E,10.5732
15,16/01/2006,10.5590,10.5752,10.5732
16,17/01/2006,10.5372,10.5590,10.5752
17,18/01/2006,10.5778,10.5372,10.5590
18,19/01/2006,10.5589,10.5778,10.5372
19,20/01/2006,10.5078,10.5589,10.5778
20,21/01/2006,N/E,N/E,10.5589
21,22/01/2006,N/E,N/E,10.5589
22,23/01/2006,10.5208,10.5078,10.5589
23,24/01/2006,10.5063,10.5208,10.5078
24,25/01/2006,10.5004,10.5063,10.5208
25,26/01/2006,10.5039,10.5004,10.5063
26,27/01/2006,10.4598,10.5039,10.5004
27,28/01/2006,N/E,N/E,10.5039
28,29/01/2006,N/E,N/E,10.5039
29,30/01/2006,10.4416,10.4598,10.5039
30,31/01/2006,10.4433,10.4416,10.4598
...,...,...,...,...
4952,24/07/2019,19.0894,19.1315,19.0659
4953,25/07/2019,19.0623,19.0894,19.1315
4954,26/07/2019,19.0699,19.0623,19.0894
4955,27/07/2019,N/E,N/E,19.0623
4956,28/07/2019,N/E,N/E,19.0623
4957,29/07/2019,19.0900,19.0699,19.0623
4958,30/07/2019,19.0747,19.0900,19.0699
4959,31/07/2019,18.9929,19.0747,19.0900
4960,01/08/2019,19.1627,18.9929,19.0747
4961,02/08/2019,19.3116,19.1627,18.9929
4962,03/08/2019,N/E,N/E,19.1627
4963,04/08/2019,N/E,N/E,19.1627
4964,05/08/2019,19.5731,19.3116,19.1627
4965,06/08/2019,19.6291,19.5731,19.3116
4966,07/08/2019,19.6953,19.6291,19.5731
4967,08/08/2019,19.5118,19.6953,19.6291
4968,09/08/2019,19.4283,19.5118,19.6953
4969,10/08/2019,N/E,N/E,19.5118
4970,11/08/2019,N/E,N/E,19.5118
4971,12/08/2019,19.5803,19.4283,19.5118
4972,13/08/2019,19.4630,19.5803,19.4283
4973,14/08/2019,19.5763,19.4630,19.5803
4974,15/08/2019,19.6365,19.5763,19.4630
4975,16/08/2019,19.5669,19.6365,19.5763
4976,17/08/2019,N/E,N/E,19.6365
4977,18/08/2019,N/E,N/E,19.6365
4978,19/08/2019,19.8153,19.5669,19.6365
4979,20/08/2019,19.7522,19.8153,19.5669
4980,21/08/2019,19.6798,19.7522,19.8153
4981,22/08/2019,19.7467,19.6798,19.7522

In [4]:
e_r_data_df["Fecha"] = pd.to_datetime(e_r_data_df.Fecha)
e_r_data_df=e_r_data_df.dropna(how="any")

In [5]:
e_r_data_df.head()

       Fecha Determinación Publicación\r\nDOF  Para solventar\r\nobligaciones
1 2006-02-01       10.6253            10.6344                         10.7109
2 2006-03-01       10.6455            10.6253                         10.6344
3 2006-04-01       10.5815            10.6455                         10.6253
4 2006-05-01       10.5907            10.5815                         10.6455
5 2006-06-01       10.5726            10.5907                         10.5815

### Store CSV into DataFrame

In [7]:
#read CSV
csv_file = "./Resources/trump_vs_mex.csv"

In [8]:
#Create dataframe and display
tweets = pd.read_csv(csv_file, encoding = "ISO-8859-1")
tweets.head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for iPhone,RT @VP: Earlier this year President @realDonal...,07/12/2019 22:14,11433.0,0.0,True,1.149800e+18
1,Twitter for iPhone,....companies to come to the USA and to get co...,07/12/2019 12:48,9842.0,49450.0,False,1.149660e+18
2,Twitter for iPhone,.....if Mexico produces (which I think they wi...,07/12/2019 12:48,10001.0,50049.0,False,1.149660e+18
3,Twitter for iPhone,RT @PAChamber: Trade with Canada and Mexico su...,07/12/2019 03:26,4308.0,0.0,True,1.149520e+18
4,Twitter for iPhone,Mexico is doing great at the Border but China ...,07/11/2019 14:04,11612.0,48964.0,False,1.149320e+18

In [9]:
#Clean data
tweets_clean = tweets
tweets_clean["created_at"] = pd.to_datetime(tweets_clean["created_at"])
tweets_clean['Date'], tweets_clean['Time'] = tweets_clean['created_at'].dt.normalize(), tweets_clean['created_at'].dt.time
tweets_clean.set_index('Date').head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str,Time
Date,,,,,,,,
2019-07-12,Twitter for iPhone,RT @VP: Earlier this year President @realDonal...,2019-07-12 22:14:00,11433.0,0.0,True,1.149800e+18,22:14:00
2019-07-12,Twitter for iPhone,....companies to come to the USA and to get co...,2019-07-12 12:48:00,9842.0,49450.0,False,1.149660e+18,12:48:00
2019-07-12,Twitter for iPhone,.....if Mexico produces (which I think they wi...,2019-07-12 12:48:00,10001.0,50049.0,False,1.149660e+18,12:48:00
2019-07-12,Twitter for iPhone,RT @PAChamber: Trade with Canada and Mexico su...,2019-07-12 03:26:00,4308.0,0.0,True,1.149520e+18,03:26:00
2019-07-11,Twitter for iPhone,Mexico is doing great at the Border but China ...,2019-07-11 14:04:00,11612.0,48964.0,False,1.149320e+18,14:04:00

In [11]:
#Create new dataframe
new_tweets = tweets_clean[["Date", "id_str", "text"]].set_index('id_str')
#rename columns
new_tweets = new_tweets.rename(columns={"text" :"tweet", 
                           "Date": "date"})
new_tweets.index.names = ['id']
new_tweets = new_tweets.dropna()
#drop retweets
new_tweets =new_tweets[~new_tweets.tweet.str.startswith('RT @')]
#filter by date
#new_tweets.loc['2015-01-01':'2019-08-22']
new_tweets = new_tweets[(new_tweets['date']>dt.date(2015,1,1)) & (new_tweets['date']<dt.date(2019,8,1))]

C:\Users\Jorge\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  if sys.path[0] == '':

In [12]:
new_tweets.head()

                   date                                              tweet
id
1.149660e+18 2019-07-12  ....companies to come to the USA and to get co...
1.149660e+18 2019-07-12  .....if Mexico produces (which I think they wi...
1.149320e+18 2019-07-11  Mexico is doing great at the Border but China ...
1.146510e+18 2019-07-03  Mexico is doing a far better job than the Demo...
1.144370e+18 2019-06-27  Bipartisan Humanitarian Aid Bill for the South...